.App {
  text-align: center;
  background:#0f4c75;
  font-color: white;
}

body {
  background: #1b262c;
}

.Open {
  border: #3282b8;
  padding: 2em;
}

.InProgress {
  border: #3282b8;
  padding: 2em;
}

.Done {
  border: #3282b8;
  padding: 2em;
}

.Card{
  background-color: grey;
  border: dotted white;
}