.App {
  text-align: center;
  background: blueviolet;
  font-color: white;
}

body {
  background: orange;
}

.Open {
  border: solid green;
  padding: 2em;
}

.InProgress {
  border: solid green;
  padding: 2em;
}

.Done {
  border: solid green;
  padding: 2em;
}

.Card{
  background-color: grey;
  border: dotted white;
}